body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../img/angel.jpg");
  background-position: left top;
  background-size: 107%;
}
label, footer p, section > div:first-child > p span, body:not([id]) section > p, input#counter:disabled {
  color: lightcyan;
}
input#amount {
  color: lightcyan;
}
.alive {
  color: lightcyan;
}
.alive:hover {
  color: cyan;
}
.alive:active {
  color: white;
}
label, footer p, section > div:first-child > p span, body:not([id]) section > p, input#counter:disabled, input#amount, .alive
{
  text-shadow: 1px 1px 1px #222;
}