body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../img/angel.jpg");
  background-position: left top;
  background-size: 107%;
}
label, footer p, section > div:first-child > p span, body:not([id]) section > p, input#counter:disabled {
  color: lightcyan;
}
label {
  transform: skew(-7deg);
}
input#amount {
  color: lightcyan;
}
.alive {
  color: lightcyan;
}
.alive:hover {
  color: cyan;
}
.alive:active {
  color: white;
}
label, footer p, section > div:first-child > p span, body:not([id]) section > p, input#counter:disabled, input#amount, .alive
{
  text-shadow: 1px 1px 1px #222;
}

input[type="text"].help {
  background-repeat: no-repeat;
  background-image: url("../img/icone-info-violet.png");
  background-size: auto 50%;
  background-position: right top;
}
input[type="text"].help:hover {
  background-image: url("../img/icone-info-crimson.png");
}
input[type="text"].help:focus {
  background-image: url("../img/icone-info-gray.png");
}
