body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../img/angel.jpg");
  background-position: left top;
  background-size: 107%;
}
label, footer p, section > div:first-child > p span, body:not([id]) section > p, input#counter:disabled {
  color: #3be;
}
input#amount {
  color: #3ae;
}
.alive {
  color: #39e;
}
.alive:hover {
  color: #3de;
}
.alive:active {
  color: #3ee;
}