h1 {
  cursor: pointer;
}
h1:hover {
  border-left: dotted 1px #ccc;
  border-right: dotted 1px #ccc;
}
div, section > div:first-child > p { padding: 1px; }

section > div { margin-top: 1em; overflow: auto; }

section > div:first-child {
  width: 800px;
  margin: 0 auto 0 auto;
}

section > div:first-child > p span + span { float: right; margin-right: 12px; }
section > div > div { display: inline; float: left; }

div#fields {
  width: 776px;
  display: inline-block;
  float: left;
  clear: left;
  margin-top: .5em;
}
div#fields > div { display: inline; float: left; }
div#fields > div:nth-child(2) { margin-left: .25em; }
div#fields > div:last-child { clear: left; }

div#fields > div * + label, div#fields > div span label { margin-top: .15em; }

div#fields > div:nth-child(2) > span {
  display: inline-block;
  width: 516px;
  margin-top: .125em;
}
div#fields > div:nth-child(2) > span > span { display: inline; float: left; }
div#fields > div:nth-child(2) > span > span + span { float: right; }

div#fields input { display: block; margin-top: .125em; }

#bibliotecario { width: 200px; }
#data_emprestimo, #data_devolucao { width: 240px; border-color: #fcc; }
#leitor, #obra, #autor { width: 520px; }
#exemplar { width: 260px; }
#posicao { width: 250px; }
#comentario { width: 766px; }

div#cmd { clear: left; margin-top: .5em; }
div#cmd p input { width: 123px; }

body > header > * { /* evita seleção de texto ao clicar no canvas */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

label[for^="data_"] span { /* para animação via jquery */
  display: inline-block;
  width: 20px;
  margin-right: 2px;
  background-repeat: no-repeat;
  background-image: url('../img/star-stripe.png');
  background-size: 60px 20px;
  background-position: 0px 50%;
}
label[for^="data_"]:hover span { background-position-x: -20px; }
label[for^="data_"]:active span { background-position-x: -40px; }
label[for^="data_"]:hover, label[for^="data_"]:hover span { cursor: pointer; }

#GoTop {
  float: right;
  margin-top: 10px;
  padding: 3px 10px 5px 10px;
  font-size: .7em;
  text-shadow: 1px 1px white;
  border: solid 1px #afafaf;
  border-radius: 5px;
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, transparent, #bbb);
  background-image: linear-gradient(to bottom, transparent, #bbb);
  cursor: pointer;
}
#GoTop:hover {
  background-color: #f0ffff;
}
#GoTop:active {
  background-color: #dee;
  background-image: none;
}

#teacherBtn {
  position: absolute;
  z-index: 1002;
  top: .25em;
  right: 2em;
  width: 36px;
  height: 36px;
  padding: 0px 5px 0px 5px;
  color: #666;
  background-color: lightgoldenrodyellow;
  background-image: -webkit-linear-gradient(0deg, #ccc, transparent);
  background-image: linear-gradient(0deg, #ccc, transparent);
  font: 400 .85em FontAwesome;
  text-shadow: 1px 1px #fff;
  border: solid 1px #ccc;
  border-radius: 6px;
  cursor: pointer;
}
#teacherBtn.pressed {
  background-image: -webkit-linear-gradient(180deg, #ccc, transparent);
  background-image: linear-gradient(180deg, #ccc, transparent);
  text-shadow: -1px -1px #fff;
}
#teacherBtn:disabled {
  color: #ccc;
  background-color: whitesmoke;
  background-image: none;
}

input.atrasado { color: #e00 !important; }

/* ajustes exclusivos para Webkit */
@media (-webkit-min-device-pixel-ratio:0) {
  label {
    font-weight: 600;
  }
  input[type="button"] {
    font-weight: 400;
    text-shadow: 0px 0px #999, 1px 1px #999;
  }
}