div, section > div:first-child > p { padding: 1px; }

section > div { margin-top: 1em; overflow: auto; }

section > div:first-child { width: 800px; margin: 0 auto 0 auto; }
section > div:first-child > p span + span { float: right; margin-right: 12px; }
section > div > div { display: inline; float: left; }

div#fields {
  width: 776px;
  display: inline-block;
  float: left;
  clear: left;
  margin-top: .5em;
}
div#fields > div { display: inline; float: left; }
div#fields > div:nth-child(2) { margin-left: .25em; }
div#fields > div:last-child { clear: left; }

div#fields > div * + label, div#fields > div span label { margin-top: .15em; }

div#fields > div:nth-child(2) > span {
  display: inline-block;
  width: 516px;
  margin-top: .125em;
}
div#fields > div:nth-child(2) > span > span { display: inline; float: left; }
div#fields > div:nth-child(2) > span > span + span { float: right; }

div#fields input { display: block; margin-top: .125em; }

#bibliotecario { width: 200px; }
#data_emprestimo, #data_devolucao { width: 240px; border-color: #fcc; }
#leitor, #obra, #autor { width: 520px; }
#exemplar { width: 260px; }
#posicao { width: 250px; }
#comentario { width: 766px; }

div#cmd { clear: left; margin-top: .5em; }
div#cmd p input { width: 123px; }

body > header > * { /* evita seleção de texto ao clicar no canvas */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.alive {
  color: #039;
  text-shadow: 1px 1px #ddd;
  cursor: pointer;
}
.alive:before {
  font-family: FontAwesome, "Open Sans", sans-serif;
  font-size: .77em;
  padding-left: 5px;
  padding-right: 10px;
}
.alive[for="data_devolucao"]:before {
  content: "\f040";
}
.alive[for="data_emprestimo"]:before {
  content: "\f067";
}
.alive:hover {
  color: #06c;
}
.alive:active {
  color: #00f;
}

#GoTop {
  float: right;
  margin-top: 10px;
  padding: 3px 10px 5px 10px;
  font-size: .7em;
  text-shadow: 1px 1px white;
  border: solid 1px #afafaf;
  border-radius: 5px;
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, transparent, #bbb);
  background-image: linear-gradient(to bottom, transparent, #bbb);
  cursor: pointer;
}
#GoTop:hover {
  background-color: #f0ffff;
}
#GoTop:active {
  background-color: #dee;
  background-image: none;
}

#docArea { /* Posicionado via script. */
  position: absolute;
  /* z-index: 1; */
  min-width: 240px;
  padding: 10px 10px 10px 10px;
  overflow: auto;
  font: 400 14px FontAwesome, "Open Sans", sans-serif;
  color: #333;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 8px white;
}
#docArea h3 {
  color: black;
  font-variant: small-caps;
  font-weight: 700;
}
#docArea ol + h3 { margin-top: 1em; }
#docArea ol { list-style-type: decimal; }
#docArea ol > li { margin: .5em 0 0 1.25em; color: navy; }
#docArea ol > li:nth-child(odd) { color: black; }
#docArea ol ul { list-style-type: disc; margin-left: 1em; }
#docArea ul > li { margin-top: .125em; }
#docArea ul > li, #docArea span.field { font-weight: 600; color: purple; }
#docArea span.botao {
  padding: 2px 4px 2px 4px;
  font-weight: 600;
  color: dodgerblue;
  background-color: #ffc;
}
#docArea li > p { margin-top: .25em; }
#docArea > p:last-child {
  margin-top: 2em;
  margin-bottom: 10px;
  overflow: auto;
}
#docArea button {
  padding: 1px 5px 2px 5px;
  font: 400 1em FontAwesome, "Open Sans", sans-serif;
  text-shadow: 1px 1px 1px #999;
  background-color: white;
  background-image: -webkit-linear-gradient(bottom, #ccc, transparent);
  background-image: linear-gradient(to top, #ccc, transparent);
  border-radius: 5px;
}
#dropDoc { float: left; color: orangered; border: solid 1px orangered; }
#dropDoc:hover { color: crimson; border: solid 1px crimson; }
#dropDoc:active {
  background-color: #fff6f6;
  background-image: none;
  color: red;
  border: solid 1px red;
}
#hideDoc { float: right; color: #069; border: solid 1px #069; }
#hideDoc:hover { color: #036; border: solid 1px #036; }
#hideDoc:active {
  background-image: none;
  background-color: #fff6f6;
  color: #0cf;
  border: solid 1px #0cf;
}