h1 {
  cursor: pointer;
}
h1:hover {
  border-left: dotted 1px #ccc;
  border-right: dotted 1px #ccc;
}
div, section > div:first-child > p { padding: 1px; }

section > div { margin-top: 1em; overflow: auto; }

section > div:first-child { width: 800px; margin: 0 auto 0 auto; }
section > div:first-child > p span + span { float: right; margin-right: 12px; }
section > div > div { display: inline; float: left; }

div#fields {
  width: 776px;
  display: inline-block;
  float: left;
  clear: left;
  margin-top: .5em;
}
div#fields > div { display: inline; float: left; }
div#fields > div:nth-child(2) { margin-left: .25em; }
div#fields > div:last-child { clear: left; }

div#fields > div * + label, div#fields > div span label { margin-top: .15em; }

div#fields > div:nth-child(2) > span {
  display: inline-block;
  width: 516px;
  margin-top: .125em;
}
div#fields > div:nth-child(2) > span > span { display: inline; float: left; }
div#fields > div:nth-child(2) > span > span + span { float: right; }

div#fields input { display: block; margin-top: .125em; }

#bibliotecario { width: 200px; }
#data_emprestimo, #data_devolucao { width: 240px; border-color: #fcc; }
#leitor, #obra, #autor { width: 520px; }
#exemplar { width: 260px; }
#posicao { width: 250px; }
#comentario { width: 766px; }

div#cmd { clear: left; margin-top: .5em; }
div#cmd p input { width: 123px; }

body > header > * { /* evita seleção de texto ao clicar no canvas */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.alive {
  color: #039;
  text-shadow: 1px 1px #ddd;
  cursor: pointer;
}
.alive:before {
  font-family: FontAwesome, "Open Sans", sans-serif;
  font-size: .77em;
  padding-left: 5px;
  padding-right: 10px;
}
.alive[for="data_devolucao"]:before {
  content: "\f040";
}
.alive[for="data_emprestimo"]:before {
  content: "\f067";
}
.alive:hover {
  color: #06c;
}
.alive:active {
  color: #00f;
}

#GoTop {
  float: right;
  margin-top: 10px;
  padding: 3px 10px 5px 10px;
  font-size: .7em;
  text-shadow: 1px 1px white;
  border: solid 1px #afafaf;
  border-radius: 5px;
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, transparent, #bbb);
  background-image: linear-gradient(to bottom, transparent, #bbb);
  cursor: pointer;
}
#GoTop:hover {
  background-color: #f0ffff;
}
#GoTop:active {
  background-color: #dee;
  background-image: none;
}

#teacherBtn {
  position: absolute;
  z-index: 1002;
  top: .25em;
  right: 2em;
  width: 36px;
  height: 36px;
  padding: 0px 5px 0px 5px;
  color: #666;
  background-color: lightgoldenrodyellow;
  background-image: -webkit-linear-gradient(0deg, #ccc, transparent);
  background-image: linear-gradient(0deg, #ccc, transparent);
  font: 400 .85em FontAwesome;
  text-shadow: 1px 1px #fff;
  border: solid 1px #ccc;
  border-radius: 6px;
  cursor: pointer;
}
#teacherBtn.pressed {
  background-image: -webkit-linear-gradient(180deg, #ccc, transparent);
  background-image: linear-gradient(180deg, #ccc, transparent);
  text-shadow: -1px -1px #fff;
}
#teacherBtn:disabled {
  color: #ccc;
  background-color: whitesmoke;
  background-image: none;
}

/* ajustes exclusivos para Webkit */
@media (-webkit-min-device-pixel-ratio:0) {
  label {
    font-weight: 600;
  }
  input[type="button"] {
    font-weight: 400;
    text-shadow: 0px 0px #999, 1px 1px #999;
  }
}

.ui-accordion-header {
  font-family: FontAwesome, "Open Sans", sans-serif;
  font-size: 1.25em !important;
  font-weight: 600 !important;
  font-variant: small-caps;
  letter-spacing: .0625em !important;
  background-color: transparent !important;
  border: none !important;
}
.ui-accordion-header-active {
  color: white !important;
  background-color: #39c !important;
}
.ui-accordion-header-collapsed {
  color: #069 !important;
}
.ui-accordion-content { padding: .5em 0em 1em .675em !important; }
.ui-accordion-content-active { border: none !important; }

.simpleList { list-style-type: disc; }
.evidence {
  display: block;
  margin: .5em 0 .5em 0;
  font-size:1.1em;
  overflow: auto;
}
.evidence span {
  float: left;
  padding: .25em .5em .22em .5em;
}
.evidence span:first-child { color: white; background-color: dimgray; }
.evidence span + span { color: black; background-color: gold;  }

#docArea { /* Posicionado via script. */
  position: absolute;
  z-index: 100;
  min-width: 240px;
  padding: 10px 5px 10px 5px;
  font: 400 14px FontAwesome, "Open Sans", sans-serif;
  color: #333;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 8px white;
  /* sempre apresentará a scrollbar vertical no Firefox */
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-x: auto;
}
#docArea ol { margin-left: 1.1675em; }
#docArea ol > li { margin-top: .25em; }
#docArea ol > li:nth-child(odd) { color: navy; }
#docArea ul { list-style-type: disc; margin-left: 1em; }
#docArea ul li { margin-top: .125em; color: #603; }
#docArea ul li:nth-child(even), #docArea span.field { color: #900; }
#docArea li > p { margin-top: .25em; }
#docArea li.example {
  margin-top: .5em;
  margin-left: -.75em;
  list-style-type: none;
  padding-left: 12px;
  background: url('../img/prompt.png') no-repeat left 10px;
}
#docArea li.example span, #docArea cite {
  color: #111;
  background-color: azure;
  font: 700 normal 1.1em 'Droid Sans Mono', 'Courier New', monospace;
  letter-spacing: .03125em;
}
#docArea li.example span {
  display: block;
  padding: .5em 0em .25em .5em;
}
#docArea div > * + p { margin-top: 1em; }
#docArea span.botao {
  padding: 2px 4px 2px 4px;
  font-weight: 600;
  color: dodgerblue;
  background-color: #ffc;
}
#docArea b, #docArea span.field { font-weight: 600; }
#docArea em {
  display: inline-block;
  font-style: normal;
  text-shadow: -1px 0px #ccc;
  transform: skew(-6deg);
}
#docArea cite[title] {
  display: inline-block;
  color: darkgreen !important;
  background-color: transparent !important;
  font-weight: 600 !important;
  letter-spacing: normal !important;
  border-bottom: dotted 1px darkgreen;
  cursor: help;
}