div, section > div:first-child > p { padding: 1px; }

section > div { margin-top: 1em; overflow: auto; }

section > div:first-child { width: 800px; margin: 0 auto 0 auto; }
section > div:first-child > p span + span { float: right; margin-right: 12px; }
section > div > div { display: inline; float: left; }

div#fields {
  width: 776px;
  display: inline-block;
  float: left;
  clear: left;
  margin-top: .5em;
}
div#fields > div { display: inline; float: left; }
div#fields > div:nth-child(2) { margin-left: .25em; }
div#fields > div:last-child { clear: left; }

div#fields > div * + label, div#fields > div span label { margin-top: .15em; }

div#fields > div:nth-child(2) > span {
  display: inline-block;
  width: 516px;
  margin-top: .125em;
}
div#fields > div:nth-child(2) > span > span { display: inline; float: left; }
div#fields > div:nth-child(2) > span > span + span { float: right; }

div#fields input { display: block; margin-top: .125em; }

#bibliotecario { width: 200px; }
#data_emprestimo, #data_devolucao { width: 240px; border-color: #fcc; }
#leitor, #obra, #autor { width: 520px; }
#exemplar { width: 260px; }
#posicao { width: 250px; }
#comentario { width: 766px; }

div#cmd { clear: left; margin-top: .5em; }
div#cmd p input { width: 123px; }

body > header > * { /* evita seleção de texto ao clicar no canvas */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.alive {
  color: #039;
  text-shadow: 1px 1px #ddd;
  cursor: pointer;
}
.alive:before {
  font-family: FontAwesome, "Open Sans", sans-serif;
  font-size: .77em;
  padding-left: 5px;
  padding-right: 10px;
}
.alive[for="data_devolucao"]:before {
  content: "\f040";
}
.alive[for="data_emprestimo"]:before {
  content: "\f067";
}
.alive:hover {
  color: #06c;
}
.alive:active {
  color: #00f;
}

#GoTop {
  float: right;
  margin-top: 10px;
  padding: 3px 10px 5px 10px;
  font-size: .7em;
  border: solid 1px #afafaf;
  border-radius: 5px;
  background-color: #eee;
  background-image: -webkit-linear-gradient(bottom, transparent, #bbb);
  background-image: linear-gradient(to bottom, transparent, #bbb);
  cursor: pointer;
}
#GoTop:hover {
  background-color: #f0ffff;
}
#GoTop:active {
  background-color: #dee;
  background-image: none;
}