div { padding: 1px; }

section > div { margin-top: 1em; overflow: auto; }

section > div:first-child { width: 800px; margin: 0 auto 0 auto; }
section > div:first-child > p span + span { float: right; }
section > div > div { display: inline; float: left; }

div#fields {
  width: 776px;
  display: inline-block;
  float: left;
  clear: left;
  margin-top: .5em;
}
div#fields > div { display: inline; float: left; }
div#fields > div:nth-child(2) { margin-left: .25em; }
div#fields > div:nth-child(3) { clear: left; }

div#fields > div * + label, div#fields > div span label { margin-top: .1875em; }

div#fields > div:nth-child(2) > span {
  display: inline-block;
  width: 516px;
  margin-top: .125em;
}
div#fields > div:nth-child(2) > span > span { display: inline; float: left; }
div#fields > div:nth-child(2) > span > span + span { float: right; }

div#fields input { display: block; margin-top: .125em; }

#bibliotecario { width: 200px; }
#data_emprestimo, #data_devolucao { width: 240px; border-color: #fcc; }
#leitor, #obra, #autor { width: 520px; }
#exemplar { width: 260px; }
#posicao { width: 250px; }
#comentario { width: 766px; }

div#cmd { clear: left; margin-top: .5em; }
div#cmd p input { width: 123px; }