body {
  padding: 1em;
  font: 400 normal 18pt sans-serif;
  color: #333;
  background-color: #f0fcff;
}
h1 {
  font: 700 normal 1.5em serif;
  font-variant: small-caps;
  text-transform: capitalize;
  letter-spacing: .03125em;
  text-shadow: 2px 2px 4px #777;
  color: darkblue;
}
section {
  margin-top: 1em;
}
div {
  margin-top: .25em;
}
div + div {
  margin-top: 1em;
}
div > p {
  width: 450px; /* largura das linhas que contém botões */
  overflow: auto;
}
div > p + p {
  margin-top: .25em;
}
#counter, #amount {
  font-family: 'Droid Sans Mono', 'Courier New', monospace;
  color: black;
}
label {
  display: inline-block;
  padding-left: .125em;
  margin-top: .5em;
}
input {
  display: block;
  margin: .125em;
}
input[type="text"], textarea, section > p:first-child {
  color: darkblue;
  font: 400 100% 'Droid Sans Mono', 'Courier New', monospace;
}
input[type="text"], textarea {
  background-color: #ffffe0;
  line-height: 160%;
  padding: 2px 5px;
  border: solid 1px #ccc;
  border-radius: 5px;
}
input[type="text"]:focus, textarea:focus {
  background-color: white;
  border-color: #00ff00;
}
input[type="text"]:disabled, textarea:disabled {
  background-color: #ddd;
}
input#code {
  width: 200px;
}
input#name, input#spirit {
  width: 440px;
}
input[type="button"] { /* botões de navegação */
  display: inline;
  float: left;
  width: 107px;
  font-size: 78%;
  line-height: 160%;
  color: black;
}
div > p + p > input[type="button"] { /* botões do DB */
  width: 144px;
}
input[type="button"]:hover {
  color: red;
}
input[type="button"]:disabled {
  color: #b9b9b9;
}