body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../img/caracol.jpg");
  background-position: right top;
  background-size: 125%;
}
label, footer p, section > div:first-child > p span, body:not([id]) section > p, input#counter:disabled, input#amount, .alive
{
  color: orangered;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #888;
}
label {
  transform: skew(-7deg);
}
.alive {
  color: crimson;
}
.alive:hover {
  color: red;
}
.alive:active {
  color: deeppink;
}
input[type="text"], input[type="tel"], input[type="email"] {
  background-color: lightcyan;
}
input[type="text"].help {
  background-repeat: no-repeat;
  background-image: url("../img/icone-info-violet.png");
  background-size: auto 50%;
  background-position: right top;
}
input[type="text"].help:hover {
  background-image: url("../img/icone-info-crimson.png");
}
input[type="text"].help:focus {
  background-image: url("../img/icone-info-gray.png");
}
