body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../img/caracol.jpg");
  background-position: left bottom;
  background-size: 112%;
}
label, footer p, section > div:first-child > p span, body:not([id]) section > p, input#counter:disabled, input#amount, .alive
{
  color: darkorchid;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #888;
}
label {
  transform: skew(-7deg);
}
input[type="text"], input[type="tel"], input[type="email"] {
  background-color: lightcyan;
}
input[list]:focus {
  border-color: goldenrod;
  box-shadow: inset 0 0 1px 1px goldenrod;
}
input[type="text"].help {
  background-repeat: no-repeat;
  background-image: url("../img/icone-info-violet.png");
  background-size: auto 50%;
  background-position: right top;
}
input[type="text"].help:hover {
  background-image: url("../img/icone-info-crimson.png");
}
input[type="text"].help:focus {
  background-image: url("../img/icone-info-gray.png");
}
