body {
  padding: 10px;
  font: 400 normal 18pt "Open Sans", sans-serif;
  color: #676767;
  background-color: #f0fcff;
}
section, body:not([id]) aside { margin-top: 2.25em; }
body:not([id]) section, body:not([id]) aside {
  display: inline-block;
  float: left;
}
body:not([id]) section { margin-right: 10px; margin-bottom: 1em; }
@media screen and (max-width: 1000px) {
  body:not([id]) aside { margin-top: 0; margin-bottom: 1em; }
}

body:not([id]) section > div { margin-top: .75em; padding: 1px; }
body:not([id]) * + label { margin-top: .25em; }
body:not([id]) div#fields input { display: block; margin-top: .125em; }

h1 {
  font: 300 normal 1.25em "Open Sans", sans-serif;
  text-shadow: 1px 0px 1px #676767;
  /* font: 700 normal 1.25em "Droid Serif", serif; */
  line-height: 1.6em;
  font-variant: small-caps;
  letter-spacing: .0625em /* .03125em */;
  text-align: center;
  text-transform: capitalize;
  /* text-shadow: 2px 2px 4px #777; */
  color: darkblue;
}
header {
  display: block;
  width: 100%;
  height: 2em;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background-color: #cfd;
  border-bottom: solid 1px #cec;
  opacity: .85;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
}
h2 { display: none; visibility: hidden; }

label {
  display: inline-block;
  letter-spacing: .03125em;
}

input[type="text"], input[type="tel"], input[type="email"] {
  padding: 2px 5px;
  font: 400 100% 'Droid Sans Mono', 'Courier New', monospace;
  line-height: 160%;
  text-overflow: ellipsis;
  color: mediumblue;
  background-color: #ffffe0;
  border: solid 1px #ccc;
  border-radius: 5px;
  box-shadow: none;
  /* configura uso de "transition" */
  -webkit-transition: color .5s, background-color .5s, border-color .5s, box-shadow .5s;
  -webkit-transition-timing-function: ease-in;
  transition: color .5s, background-color .5s, border-color .5s, box-shadow .5s;
  transition-timing-function: ease-in;
}
input[type="text"][readonly], input[type="tel"][readonly], input[type="email"][readonly] { color: black; }
input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input#counter:focus {
  color: darkblue;
  background-color: white;
  border-color: #9E9;
  box-shadow: 0px 0px 2px #ccc;
}
input[list]:focus { border-color: #c9f; }
input[type="text"][readonly]:focus { color: #966; }

input#counter {
  width: 2.5em;
  text-align: center;
  color: black;
  background-color: #f6fcff;
}
input#counter:disabled {
  border-color: transparent;
  background-color: transparent;
}
input#amount {
  width: 2.5em;
  text-align: left;
  color: black;
  background-color: transparent;
  border-color: transparent;
}

input[type="button"] {
  display: inline;
  float: left;
  font-size: 66%;
  font-family: FontAwesome, "Open Sans", sans-serif;
  line-height: 200%;
  word-spacing: .1875em;
  color: black;
  background-color: #ffc;  /* cor de fundo a priori */
  background-image: -webkit-linear-gradient(to top, #dcdcdc, #f9f9ff);
  background-image: linear-gradient(to top, #dcdcdc, #f9f9ff);
  border: solid 1px #999;
  border-left-color: #aaa;
  border-top-color: #bbb;
  border-radius: 5px;
  /* configura uso de "transition" */
  -webkit-transition: color .5s, background-color .5s;
  -webkit-transition-timing-function: ease-in;
  transition: color .5s, background-color .5s;
  transition-timing-function: ease-in;
}
input[type="button"]:disabled { color: #b9b9b9; }
input[type="button"]:disabled.working {
  color: #609;
  text-shadow: 1px 1px 0px white; /* efeito de "esculpido" */
  border: solid 1px #777;
  border-right-color: #aaa;
  border-bottom-color: #999;
  background-image: none;         /* botao pressionado :: plano */
  background-color: #fc6;
}
input[type="button"]:enabled:hover {
  color: red;
  border-color: #c63;
  border-top-color: #fc9;
  border-left-color: #f96;
}
input[type="button"]:enabled:hover, #saveBtn:enabled, #cancelBtn:enabled {
  background-image: -webkit-linear-gradient(to top, #fc6, #ffc);
  background-image: linear-gradient(to top, #fc6, #ffc);
}
input[type="button"]:enabled:active, #saveBtn:enabled:active, #cancelBtn:enabled:active {
  background-image: -webkit-linear-gradient(to bottom, #fc6, #ffc);
  background-image: linear-gradient(to bottom, #fc6, #ffc);
}
input[type="button"]:enabled:focus {
  color: #f40;
  border-color: #c63;
  border-top-color: #fc9;
  border-left-color: #f96;
}
div#cmd p { overflow: auto; }
div#cmd * + p { margin-top: .125em; }
div#cmd p * + input { margin-left: 5px; }

textarea {
  width: 100%;      /* assume a dimensão do parent element */
  padding: 2px 5px;
  font: 400 100% 'Droid Sans Mono', 'Courier New', monospace;
  line-height: 160%;
  color: black;
  background-color: #f6fcff;
  border: solid 1px #ccc;
  border-radius: 5px;
  box-shadow: none;
  /* configura uso de "transition" */
  -webkit-transition: color .75s, background-color .75s, box-shadow .75s;
  -webkit-transition-timing-function: linear;
  transition: color .75s, background-color .75s, box-shadow .75s;
  transition-timing-function: linear;
}
textarea:focus {
  color: darkblue;
  background-color: white;
  border-color: #9cf;
  box-shadow: 0px 0px 2px #ccc;
}
textarea.empty { font-style: italic; color: #99c; }

#cleaner {
  position: relative;
  padding: 0px 8px 2px 8px;
  font: 400 .7em "Open Sans", sans-serif;
  letter-spacing: .03125em;
  color: #888;
  background: -webkit-linear-gradient(to bottom, transparent, #bbb) #eee;
  background: linear-gradient(to bottom, transparent, #bbb) #eee;
  border: 1px solid #afafaf;
  border-radius: 8px;
  cursor: pointer;
}
#cleaner:hover {
  background-color: #fff;
}
#cleaner:active {
  background-color: #eee;
  background-image: none;
}

footer { margin-top: .5em; }
footer p {
  text-align: center;
  font: 400 italic 45% serif;
  line-height: 125%;
  letter-spacing: .0375em;
  color: black;
}
body:not([id]) footer { display: none; visibility: hidden; }

/* ajustes exclusivos para Webkit */
@media (-webkit-min-device-pixel-ratio:0) {

  input[type="button"] { height: 2em; }

}
