body {
  padding: 10px;
  font: 400 normal 18pt "Open Sans", sans-serif;
  color: #676767;
  background-color: honeydew;
}
header {
  display: block;
  width: 100%;
  height: 2em;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background-color: #cfd;
  border-bottom: solid 1px #cec;
  opacity: .85;
  box-shadow: 0 0 3px 3px rgba(250, 235, 215, .7);
}
h1 {
  font: 300 normal 1.25em "Open Sans", sans-serif;
  text-shadow: 1px 0px 1px #676767;
  line-height: 1.6em;
  font-variant: small-caps;
  letter-spacing: .0625em;
  text-align: center;
  text-transform: capitalize;
  color: darkblue;
}
h2 { display: none; visibility: hidden; }
fieldset {
  background-color: #eeffff;
  border: solid 1px #ccc;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px antiquewhite;
}
label {
  letter-spacing: .03125em;
  -webkit-transition: color 1s;
  -webkit-transition-timing-function: linear;
  transition: color 1s;
  transition-timing-function: linear;
}
label:hover { color: black; }
label.modified {
  color: black;
  text-shadow: 1px 0px 1px #ccc;
}
label.modified:hover { color: #930; }
section {
  display: block;
  width: 500px;
  margin: 4em auto 0em auto;
  overflow: auto;
}
section > div {
  display: inline-block;
  float: left;
  padding: 3px;
}

div#emprestimos p { margin-top: .5em; }
div#emprestimos p + p { margin-top: .75em; }
div#emprestimos fieldset { padding: .0625em .75em .75em .75em; }

div#weekdays { float: right; }
div#weekdays fieldset { text-align: right; }
div#weekdays label {
  margin: .5em 1em 0em 1em;
  display: block;
}
div#weekdays label:first-child { margin-top: .875em; }
div#weekdays label:last-child { margin-bottom: 1.125em; }

input[type="number"] {
  padding: 2px 5px;
  font: 400 100% 'Droid Sans Mono', 'Courier New', monospace;
  line-height: 160%;
  text-overflow: ellipsis;
  color: black;
  background-color: #ffffe0;
  border: solid 1px #ccc;
  border-radius: 5px;
  box-shadow: none;
  -webkit-transition: color .5s, background-color .5s, border-color .5s, box-shadow .5s;
  -webkit-transition-timing-function: ease-in;
  transition: color .5s, background-color .5s, border-color .5s, box-shadow .5s;
  transition-timing-function: ease-in;
}
input[type="number"] { width: 70px; text-align: center; }
input[type="number"]:focus {
  color: mediumblue;
  background-color: white;
  box-shadow: 0px 0px 1px 1px #ddd;
}
input[list] { border-color: #ccf; }
input[list][readonly] { color: #ccc; font-style: italic; border-color: #ddf; }
input[type="number"]:invalid { color: white; background-color: red; }

div#commands { clear: left; margin-top: 1.5em; }
input#updateBtn {
  width: 140px;
  font-size: 85%;
  line-height: 160%;
  letter-spacing: .04em;
  color: black;
  -webkit-transition: color .5s;
  -webkit-transition-timing-function: ease-in;
  transition: color .5s;
  transition-timing-function: ease-in;
}
input#updateBtn:hover { color: red; }
input#updateBtn:focus { color: dodgerblue; }

footer {
  display: block;
  width: 100%;
  height: 2em;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
footer p {
  text-align: center;
  font: 400 italic 55% serif;
  line-height: 125%;
  letter-spacing: .0375em;
  color: #999;
  text-shadow: 1px 1px 1px #bbb;
}