body {
  padding: 10px;
  font: 400 normal 18pt "Open Sans", sans-serif;
  color: #676767;
  background-color: #f0fcff;
}
header {
  display: block;
  width: 100%;
  height: 2em;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background-color: #cfd;
  border-bottom: solid 1px #cec;
  opacity: .85;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
}
h1 {
  font: 300 normal 1.25em "Open Sans", sans-serif;
  text-shadow: 1px 0px 1px #676767;
  line-height: 1.6em;
  font-variant: small-caps;
  letter-spacing: .0625em;
  text-align: center;
  text-transform: capitalize;
  color: darkblue;
}
h2 { display: none; visibility: hidden; }
fieldset {
  background-color: #eeffff;
  border: solid 1px #ccc;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #eee;
}
legend {
  padding: 0 .25em 0 .25em;
  margin: 2px .0625em 0 0;
  letter-spacing: .03125em;
  text-shadow: 1px 0 1px #ccc;
  background-color: #f0fcff;
}
section {
  display: block;
  width: 800px;
  margin: 2.125em auto .5em auto;
  overflow: auto;
}
section > div {
  display: inline-block;
  float: left;
  padding: 1px;
}

div#emprestimos p { margin-top: .5em }
div#emprestimos p + p { margin-top: .75em; }
div#emprestimos fieldset { padding: .0625em .75em .75em .75em; }

div#weekdays { float: right; }
div#weekdays fieldset { padding: 0em .75em .0em .75em; }
div#weekdays fieldset *:not(:first-child) { position: relative; top: -0.3125em; }
div#weekdays label + label { margin-left: 1em; }

input[type="number"], input[type="text"] {
  padding: 2px 5px;
  font: 400 100% 'Droid Sans Mono', 'Courier New', monospace;
  line-height: 160%;
  text-overflow: ellipsis;
  color: black;
  background-color: #ffffe0;
  border: solid 1px #ccc;
  border-radius: 5px;
  box-shadow: none;
  -webkit-transition: color .5s, background-color .5s, border-color .5s, box-shadow .5s;
  -webkit-transition-timing-function: ease-out;
  transition: color .5s, background-color .5s, border-color .5s, box-shadow .5s;
  transition-timing-function: ease-out;
}
input[type="number"] { width: 70px; text-align: center; }
input[type="text"] { width: 115px; }
input[type="number"]:focus, input[type="text"]:focus {
  color: mediumblue;
  background-color: white;
  box-shadow: 0px 0px 1px 1px #ddd;
}
input[list] { border-color: #c9f; }
input[list][readonly] { color: #ccc; font-style: italic; }
input[type="number"]:invalid { color: white; background-color: red; }

div#commands { clear: left; margin-top: 1em; }
input#updateBtn {
  width: 140px;
  font-size: 85%;
  line-height: 160%;
  letter-spacing: .04em;
  color: black;
  -webkit-transition: color .5s;
  -webkit-transition-timing-function: ease-out;
  transition: color .5s;
  transition-timing-function: ease-out;
}
input#updateBtn:hover { color: red; }
input#updateBtn:focus { color: dodgerblue; }

footer { margin-top: .5em; }
footer p {
  text-align: center;
  font: 400 italic 45% serif;
  line-height: 125%;
  letter-spacing: .0375em;
  color: black;
}