body {
  padding: 10px;
  font: 400 normal 18pt "Open Sans", sans-serif;
  color: #676767;
  /* background-color: honeydew; */
}
header {
  display: block;
  width: 100%;
  height: 2em;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background-color: #cfd;
  border-bottom: solid 1px #cec;
  opacity: .85;
  box-shadow: 0 0 3px 3px rgba(250, 235, 215, .7);
}
h1 {
  font: 300 normal 1.25em "Open Sans", sans-serif;
  text-shadow: 1px 0px 1px #676767;
  line-height: 1.6em;
  font-variant: small-caps;
  letter-spacing: .0625em;
  text-align: center;
  text-transform: capitalize;
  color: darkblue;
}
header img { /* spinner image */
  position: absolute;
  top: 8px;
  right: 5px;
  z-index: 1001;
  width: 30px;
  height: 30px;
  opacity: .5;
  animation-duration: .8s;
}
h2 {
  display: none;
  visibility: hidden;
}
fieldset {
  background-color: #eeffff;
  border: solid 1px #ccc;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px antiquewhite;
}
fieldset > * { /* evita seleção de texto ao clicar no canvas */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
label {
  color: #006090 !important;
  letter-spacing: .015625em;
  -webkit-transition: color 1s;
  -webkit-transition-timing-function: linear;
  transition: color 1s;
  transition-timing-function: linear;
  text-shadow: none !important;
}
label:hover {
  color: blue !important;
}
label.modified {
  color: darkred !important;
}
label.modified:hover { color: red !important; }
section {
  display: block;
  width: 500px;
  padding:.5em;
  margin: 4em auto 0em auto;
  overflow: auto;
}
section > div {
  display: inline-block;
  float: left;
  padding: 3px;
}

input[type="number"] {
  width: 70px;
  padding: 2px 5px;
  font: 400 100% 'Droid Sans Mono', 'Courier New', monospace;
  line-height: 160%;
  text-align: center;
  text-overflow: ellipsis;
  color: black;
  background-color: #ffffe0;
  border: solid 1px #ccc;
  border-radius: 5px;
  box-shadow: none;
  -webkit-transition: color .5s, background-color .5s, border-color .5s, box-shadow .5s;
  -webkit-transition-timing-function: ease-in;
  transition: color .5s, background-color .5s, border-color .5s, box-shadow .5s;
  transition-timing-function: ease-in;
}
input[type="number"]:focus {
  color: mediumblue;
  background-color: white;
  box-shadow: 0px 0px 1px 1px #ddd;
}
input[type="number"]:invalid { color: white; background-color: red; }

div#emprestimos p { margin-top: .5em; }
div#emprestimos p + p { margin-top: .75em; }
div#emprestimos fieldset { padding: .0625em .75em .75em .75em; }

div#weekdays { float: right; transform: rotate(3deg); }
div#weekdays fieldset { text-align: right; }
div#weekdays label {
  margin: .5em 1em 0em 1em;
  display: block;
}
div#weekdays label:first-child { margin-top: .875em; }
div#weekdays label:last-child { margin-bottom: 1.125em; }

div#commands { clear: left; margin-top: 3em; }
input#updateBtn {
  width: 200px;
  font-family: FontAwesome, "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.8em;
  letter-spacing: .04em;
  color: black;
  background-color: #f6f6f6;
  background-image: -webkit-linear-gradient(top, transparent, #c6c6c6);
  background-image: linear-gradient(to bottom, transparent, #c6c6c6);
  border: solid 1px #bbb;
  border-radius: 7px;
  transform: rotate(-7deg);
  -webkit-transition: color .5s;
  -webkit-transition-timing-function: ease-in;
  transition: color .5s;
  transition-timing-function: ease-in;
}
input#updateBtn:disabled {
  color: #bbb;
  border-color: #ddd;
}
input#updateBtn:enabled {
  background-color: #eff;
}
input#updateBtn:enabled:hover {
  color: #c30;
  border-color: #c60;
}
input#updateBtn:active {
  color: red !important;
  border-color: #f40 !important;
  background-color: #eee;
  background-image: none;
}
input#updateBtn:focus {
  color: darkorange;
}

footer {
  display: block;
  width: 100%;
  height: 2em;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
footer p {
  text-align: center;
  font: 400 italic 55% serif;
  line-height: 125%;
  letter-spacing: .0375em;
  color: #999;
  text-shadow: 1px 1px 1px #bbb;
}
/* ajustes exclusivos para Webkit */
@media (-webkit-min-device-pixel-ratio:0) {
  input[type="button"] { height: 1.8em; }
}