body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../img/cubismo.jpg");
  background-position: right bottom;
  background-size: 150% 150%;
}
label, footer p, section > div:first-child > p span, body:not([id]) section > p, input#counter:disabled {
  color: lightcyan;
}
label {
  transform: skew(-7deg);
}
input#amount {
  color: lightcyan;
}
label, footer p, section > div:first-child > p span, body:not([id]) section > p, input#counter:disabled, input#amount
{
  text-shadow: -1px -1px 1px #ccc, 1px 1px 1px #333;
}

input[type="text"].help {
  background-repeat: no-repeat;
  background-image: url("../img/corner-stripes-cyan.png");
  background-size: auto 50%;
  background-position: right top;
}
input[type="text"].help:hover {
  background-image: url("../img/corner-stripes-orange.png");
}
input[type="text"].help:focus {
  background-image: url("../img/corner-stripes-gray.png");
}

input[list]:focus {
  border-color: orangered;
  box-shadow: inset 0 0 1px 1px orangered;
}