body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../img/purple-curves.jpg");
  background-position: left bottom;
  background-size: 100% auto;
}
label, footer p, section > div:first-child > p span, body:not([id]) section > p  {
  color: #069;
}