body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../img/glowing-flowers.jpg");
  background-position: left top;
  background-size: 110%;
}
label, footer p, section > div:first-child > p span, body:not([id]) section > p, input#counter:disabled, input#amount, .alive
{
  color: darkorchid;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #888;
}
input[type="text"], input[type="tel"], input[type="email"] {
  background-color: lightcyan;
}
input[list]:focus {
  border-color: goldenrod;
  box-shadow: inset 0 0 1px 1px goldenrod;
}