body {
  background-color: aliceblue;
  background-attachment: fixed, fixed, fixed;
  background-image:
    -webkit-linear-gradient(left, transparent -200%, white 200%),
    url("../img/kardec.png"),
    url("../img/table-tournante.png");
  background-image:
    linear-gradient(90deg, rgb(255 255 255 / .5), rgb(255 255 255 / .5)),
    url("../img/kardec.png"),
    url("../img/table-tournante.png");
  background-position:
    center,
    -6.5em 3em,
    90% 92%;
  background-size:
    auto,
    63% auto,
    auto auto;
  background-repeat: no-repeat, no-repeat, no-repeat;
}
label, footer p, section > div:first-child > p span, body:not([id]) section > p, input#counter:disabled {
  color: lightcyan;
}
input#amount {
  color: lightcyan;
}
.alive {
  color: lightcyan;
}
.alive:hover {
  color: cyan;
}
.alive:active {
  color: white;
}
label, footer p, section > div:first-child > p span, body:not([id]) section > p, input#counter:disabled, input#amount, .alive {
  text-shadow: 1px 1px 1px #111;
}
#docArea {
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, .125);
}

input[type="text"].help {
  background-repeat: no-repeat;
  background-image: url("../img/corner-stripes-cyan.png");
  background-size: auto 50%;
  background-position: right top;
}
input[type="text"].help:hover {
  background-image: url("../img/corner-stripes-orange.png");
}
input[type="text"].help:focus {
  background-image: url("../img/corner-stripes-gray.png");
}