body {
  background-color: whitesmoke;
  background-attachment: fixed, fixed, fixed;
  background-image:
    -webkit-linear-gradient(left, transparent -200%, white 200%),
    url("../img/kardec.png"),
    url("../img/table-tournante.png");
  background-image:
    linear-gradient(90deg, rgb(255 255 255 / .5), rgb(255 255 255 / .5)),
    url("../img/kardec.png"),
    url("../img/table-tournante.png");
  background-position:
    center,
    -6.5em 3em,
    90% 92%;
  background-size:
    auto,
    63% auto,
    auto auto;
  background-repeat: no-repeat, no-repeat, no-repeat;
}
label, footer p, section > div:first-child > p span, body:not([id]) section > p, input#counter:disabled {
  color: paleturquoise;
}
input#amount {
  color: paleturquoise;
}
label, footer p, section > div:first-child > p span, body:not([id]) section > p, input#counter:disabled, input#amount {
  text-shadow: 1px 1px 1px #404040;
}
label {
  transform: skew(-7deg);
}
#docArea {
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, .125);
}

input[type="text"].help {
  background-repeat: no-repeat;
  background-image: url("../img/corner-stripes-cyan.png");
  background-size: auto 50%;
  background-position: right top;
}
input[type="text"].help:hover {
  background-image: url("../img/corner-stripes-orange.png");
}
input[type="text"].help:focus {
  background-image: url("../img/corner-stripes-gray.png");
}
.ui-accordion-header-active {
  color: black !important;
  background-color: transparent !important;
  text-shadow: 1px 0px 1px #999 !important;
}
#comentario.atrasado:focus {
  border-color: orange;
  box-shadow: inset 0 0 1px 1px yellow;
}