body { min-width: 485px; }
section { width: 485px; }
input#code, input#genero { width: 200px; }
input#autor, input#titulo { width: 480px; }
div#cmd p input { width: 117px; }
div#cmd * + p input { width: 157px; }