body {
  background-attachment: fixed, fixed;
  background-repeat: no-repeat, no-repeat;
  background-image: -webkit-linear-gradient(top, white -10%, transparent), url("../img/plasma.png");
  background-image: linear-gradient(to bottom, white -10%, transparent), url("../img/plasma.png");
  background-position: center center, center 50%;
  background-size: 100%, 100% 100%;
}
label, footer p, section > div:first-child > p span, body:not([id]) section > p, input#counter:disabled, input#amount, .alive  {
  color: #069;
  text-shadow: -1px -1px 1px lightcyan, 1px 1px 1px #aaa;
}
label {
  transform: skew(-7deg);
}
input[type="text"].help {
  background-repeat: no-repeat;
  background-image: url("../img/corner-stripes-cyan.png");
  background-size: auto 50%;
  background-position: right top;
}
input[type="text"].help:hover {
  background-image: url("../img/corner-stripes-orange.png");
}
input[type="text"].help:focus {
  background-image: url("../img/corner-stripes-gray.png");
}
