body {
  background-attachment: fixed, fixed;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(180deg, white -10%, transparent), url("../js/ui/images/plasma.png");
  background-position: center center, center 50%;
  background-size: 100%, 100% 100%;
}
label, footer p, section > div:first-child > p span, body:not([id]) section > p  {
  color: #069;
}