body {
  background-color: white;
}
section {
  width: 100%;
}
h2 {
  display: none;
  visibility: hidden;
}

table {
  width: 960px;
  margin: 0 auto;
}
td:first-child {
  width: 25%;
  text-align: right;
  vertical-align: top;
}
td + td {
  width: 75%;
  padding-left: 8px;
  padding-right: 8px;
}

section > table {
  font: 400 .9em monospace;
  letter-spacing: .03125em;
  color: #999;
}
section > table td + td {
  color: black;
}
section > table tr:nth-child(2) td {
  padding-top: .5em;
}

div table {
  margin-top: .125em;
  padding-top: .25em;
  padding-bottom: .25em;
  letter-spacing: .05em;
  color: #069;
  background: transparent;
  border-radius: 10px;
  -webkit-transition: background-color 3s, color 1.5s;
  -webkit-transition-timing-function: ease-in;
  transition: background-color 3s, color 1.5s;
  transition-timing-function: ease-in;
}
div table:nth-child(odd) {
  color: #339;
}
div table td + td {
  width: 100%;
  text-shadow: 1px 1px #606060;
}
div table:hover {
  color: white;
  background-color: darkorchid;
}

#pager {
  margin-top: 1em;
  font-family: FontAwesome, "Open Sans", sans-serif;
  font-size: .88em;
  text-align: center;
}
#pager > * {
  margin-top: .5em;
  display: inline-block;
  width: 2.25em;
  border: solid 1px transparent;
  border-radius: 5px;
}
#pager > * + * {
  margin-left: .125em;
}
#pager > *:first-child, #pager > *:last-child {
  font-size: .9em;
  line-height: 100%;
  padding: 5px 0 3px 0;
}
#pager a {
  color: dodgerblue;
}
#pager a:hover {
  color: red;
  background: -webkit-linear-gradient(top, transparent, #e0e0e0);
  background: linear-gradient(to bottom, transparent, #e0e0e0);
  border-color: #ccc;
  text-shadow: -1px -1px 1px #ccc, 1px 1px 1px #fff;
}
#pager a:active {
  background: -webkit-linear-gradient(bottom, transparent, #f0f0f0);
  background: linear-gradient(to top, transparent, #f0f0f0);
}

footer {
  display: block !important;
  visibility: visible !important;
}
footer p {
  font: 400 italic .55em serif;
  color: #555;
}