body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../img/white-tulips.jpg");
  background-position: left bottom;
  background-size: 100% 100%;
}
label, footer p, section > div:first-child > p span, body:not([id]) section > p, input#counter:disabled {
  color: #933;
}
input#amount {
  color: #622;
}
.alive {
  color: #c63;
}
.alive:hover {
  color: #c30;
}
.alive:active {
  color: #f00;
}