body {
  background-color: white;
}
section {
  width: 100%;
}
section > p {
  text-shadow: 0px 1px #999;
}
section > p > span {
  text-shadow: none;
  letter-spacing: .03125em;
}
section > p:first-child, section > p:first-child + p {
  width: 240px;
  text-align: right;
}
p.date {
  margin: 1.25em 0 0 1.25em;
}
section > div {
  padding: 10px 0 !important;
  margin: 8px 0 0 0 !important;
  letter-spacing: .05em;
  word-spacing: .125em;
  color: #006699;
  border-radius: 10px;
  transition: background-color 3s, color 1s;
  transition-function: ease-in;
}
section > div:nth-child(odd) {
  color: #333399;
}
section > div > p {
  text-shadow: 0px 1px #999;
}
section > div > p > span {
  display: inline-block;
  width: 220px;
  text-align: right;
  text-shadow: none;
}
section > div:hover {
  color: white;
  background-color: darkorchid;
}
footer {
  display: block !important;
  visibility: visible !important;
}
footer p {
  font: 400 italic .55em serif;
  color: #006099;
}
