.sweet-overlay { background-color: transparent !important; }
.sweet-alert {
  background-color: black !important;
  border: solid 1px #fee;
  box-shadow: 0 0 5px 5px #fcc;
  opacity: .77;
}
.sweet-alert fieldset { display: none; visibility: hidden !important; }
button.confirm {
  color: black !important;
  background-color: #fcc !important;
  transition: background-color .5s ease-in;
}
button.confirm:hover { background-color: #fbb !important; }
.info { margin-bottom: 1em; }
.info > p {
  font: 400 normal 1.1em "Open Sans", sans-serif !important;
  letter-spacing: .03125em;
  color: #fee !important;
}
.info > p + p { margin-top: 1em; }
.info > p > strong { font-weight: 600; }