.sweet-overlay { background-color: transparent; }
.sweet-alert {
  background-color: black;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(255, 153, 0, .85);
  opacity: .67;
}
.sweet-alert p {
  font-size: .9em;
  font-weight: 600;
  letter-spacing: .05em;
  color: #fb0;
}
.sweet-alert p + p { margin-top: 1em; }
.sweet-alert p > strong { color: white; }
.sweet-alert fieldset { display: none; visibility: hidden; }
button.confirm {
  font-size: .75em;
  letter-spacing: .05em;
  color: black !important;
}